/* All parent elements in the document have maximum height */
html, body, section{
    /* This allows other elements in the rest of the page like the showcase to have their height styled by % */
    height: 100%;
}

/* CONTACT US PAGE STYLING */
/* Contact page image background */
.contact-background{
    /* Height of showcase*/
    height: 60%;
    /* Margin between end of screen and image */
    width: 95%;
    /* Styling the showcase to make sure it covers the whole screen **/
    background-repeat: no-repeat;
    background-size: cover;
    /* Centering the showcase */
    margin: auto;
    position: relative;
    background-position: center;
    /* adding image to background */
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/form-filling.jpg");
}

/* class for styling the text div in the page where the text falls on top of the background image */
.content{
    font-family: Arial;
    text-transform: capitalize;
    width: 100%;
    /* Positioning text in the middle of showcase */
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}