/* All major elements in the document have maximum height */
html, body, section{
    height: 100%;
}

/* Some general styling for the text & background*/
body{
    font-family: Arial;
    text-align: center;
    background-color: gray;
    color: white;
}

/* removing the underlines from hyperlinks */
a{
    text-decoration: none;
}

/** Styling the navigation bar */
nav{
    width: 100%;
    margin: auto;
    height: 85px;
    position: sticky;
    background-color: lightgray;
    border-bottom: lightgray solid 20px;
}

/** Styling the title of the website */
nav h1{
    padding-left: 1%;
    font-family: Arial;
    color: black;
    margin: auto;
    float: left;
    text-align: left;
    line-height: 70px;
}

/** Nav bar height and position on the screen (right) */
nav ul{
    margin: auto;
    text-align: right;
    line-height: 70px;
}

/** Styling the list itself so it displays the navigation bar text horizontally */
nav ul li {
    display: inline;
    margin: auto;
}

/* styling of the list elements in the navigation bar; home, about, contact us */
nav ul li a {
    font-family: Arial;
    color: black;
    margin: 0 5px;
}

/* CONTACT US PAGE STYLING */
/* Contact page image background */
.contact-background{
    height: 60%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    position: relative;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/form-filling.jpg");
}

/* styling the text div in the page where the text falls on top of the background image */
.content{
    font-family: Arial;
    text-transform: capitalize;
    width: 100%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}