/* All major elements in the document have maximum height */
html, body, section{
    height: 100%;
}

/* Some general styling for the text & background*/
body{
    font-family: "Calibri Light";
    text-align: center;
    background-color: #5a5a5a;
    color: white;
    margin: 0;
}

/* removing the underlines from hyperlinks */
a{
    text-decoration: none;
    color: white;
}

/** Styling the navigation bar */
nav{
    width: 100%;
    margin: auto;
    border-top: lightgray 1px solid;
    height: 85px;
    position: sticky;
    background-color: lightgray;
}

/** Styling the title of the website */
nav h1 a{
    font-size: xx-large;
    font-family: Calibri;
    padding-left: 1%;
    color: black;
    margin: auto;
    float: left;
    text-align: left;
    line-height: 70px;
}

/** Nav bar height and position on the screen (right) */
nav ul{
    margin: auto;
    text-align: right;
    line-height: 70px;
}

/** Styling the list itself so it displays the navigation bar text horizontally */
nav ul li {
    display: inline;
    margin: auto;
}

/* styling of the list elements in the navigation bar; home, about, contact us */
nav ul li a {
    font-family: Calibri;
    color: black;
    margin: 0 5px;
}

/** Styling the footer */
footer{
    color: black;
    text-align: center;
    background-color: lightgray;
    margin: auto;
}

/** Adding space between the the footer */
footer p {
    padding: 30px;
}

/* CONTACT US PAGE STYLING */
/* Contact page image background */
.contact-background{
    height: 60%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    position: relative;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/form-filling.jpg");
}

/* styling the text div in the page where the text falls on top of the background image */
.content{
    text-transform: capitalize;
    width: 100%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

/* Align social media icons with text */
.contact img{
    vertical-align: bottom;
}

/* Align label with the middle of the text box */
label textarea {
    vertical-align: middle;
}

/* align the surname label with the other form labels*/
.surnameLabel {
    padding-right: 24px;
}

/* align the email label with the other form labels*/
.emailLabel{
    padding-right: 40px;
}

/*about page*/

.about-background{
    height: 60%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    position: relative;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/Gym image.jpg");
}

Our-story-sect {
    width: 100%;
    padding: 70px 0;
}

.Our-story-title{
    text-align: center;
    padding-bottom: 30px;
}

.Our-story-title p{
    margin: auto;
    font-size: 20px;
    font-weight: bold;
}

.Our-story-title h1 {
    font-size: 50px;
}

.Our-story-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.Our-stories{
    flex-basis: 50%;
}

.Our-stories-img {
    flex-basis: 50%;
    margin: auto;

}
.Our-stories-img img{
    width: 70%;
    border-radius: 10px;
}

.Our-stories h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
}

.our-story-description {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.story-icon .fa{
    width: 50px;
    font-size: 30px;
}

.story-text p{
    text-align: initial;
}

.navigate-to-contact:hover{
    color: black;
    text-decoration: underline;
}

/*--- Home Page Banner START ---*/
.home-background{
    height: 60%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    position: relative;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/homepagebackground.jpg");
}


/* Align social media icons with text */
.contact img{
    vertical-align: bottom;
}

/* Align label with the middle of the text box */
label textarea {
    vertical-align: middle;
}
/*--- Home Page Banner END ---*/

/* Features START */
#features{
    width: 100%;
    Padding: 10px 0;
}
title-text{
    text-align: center;
    padding-bottom: 10px;

}
.title-text p {
    margin: auto;
    font-size: 20px;
    color: #f1f5f5;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}


.title-text h1{
    font-size:50px ;
}
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

}
.feature {
    flex-basis: 50%;

}
.feature-img{
    flex-basis: 50%;
    margin: auto;
}
.feature-img img{
    width: 70%;
   border-radius: 10px;
}
.feature h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: red;
}
.features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.feature-icon .fas{
    width: 50px ;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color:#009688;
    border: 1px solid#009688;
}
.feature-text p{
    padding: 0 20px;
    text-align: initial;

}

/* Features END */

/*-------- TESTIOMONIALS START---*/
#testimonial{
    width: 100%;
    padding: 70px;
}
.testimonial-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap:wrap ;
}
.testimonial-col{
    flex-basis: 28%;
    padding: 10px;
   margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px rgba(236, 86, 92, 0.59);
    cursor: pointer;
}
.testimonial-col p{
    font-size: 14px;
}

.user{
    display: flex;
    align-items: center;
    margin: 20px 0;

}
.user img{
   width: 70px;
    margin-right: 20px;
    border-radius: 3px;
}


.user-info .fab{
    margin-left: 10px;
    color:#27c0ff;
    font-size: 20px;
}
.user-info small{
    color: #009688;
}
/*-------- TESTIOMONIALS START---*/
/*--- Facilities Banner START ---*/
.facilities-background{
    height: 60%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    position: relative;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/facilities .jpg");
}


/* Align social media icons with text */
.contact img{
    vertical-align: bottom;
}

/* Align label with the middle of the text box */
label textarea {
    vertical-align: middle;

}
.content p{
    font-size: 20px;
}
/*--- Facilities Banner END ---*/

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    padding: 20px;
    grid-gap: 40px;
}
.card{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}
.container{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}
.card1>.container:after{
    background-image: linear-gradient(
            135deg,
            #0100ec,
            #fb36f4
    );
}
.card2>.container:after{
    background-image: linear-gradient(
            135deg,
            #2bdce3,
            #42ffdb
    );
}
.card3>.container:after{
    background-image: linear-gradient(
            135deg,
            #ffab1d,
            #f8501c
    );
}
.details{
    padding: 20px 10px;
}
.details>h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.details>p{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}